name: Auto API Calls

on:
  schedule:
    - cron: '0 18 * * *'    # Scrape - hər gün saat 22:00 Bakı vaxtı
    - cron: '0 19 * * *'    # Daily - hər gün saat 23:00 Bakı vaxtı
    - cron: '0 9 * * 1'     # Weekly - hər bazar ertəsi saat 13:00 Bakı vaxtı

jobs:
  scrape:
    if: github.event.schedule == '0 18 * * *'
    runs-on: ubuntu-latest
    steps:
      - run: curl https://yeni-projem-1.onrender.com/api/scrape

  daily:
    if: github.event.schedule == '0 19 * * *'
    runs-on: ubuntu-latest
    steps:
      - run: curl https://yeni-projem-1.onrender.com/api/cron_daily

  weekly:
    if: github.event.schedule == '0 9 * * 1'
    runs-on: ubuntu-latest
    steps:
      - run: curl https://yeni-projem-1.onrender.com/api/cron_weekly
